body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.site {
  display: flex;
  min-height: 75vh;
  flex-direction: column;
}

.notifications {
  width: 20%;
  position: fixed;
  top: 70px;
  right: 10px;
}
