.home-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 0.5vmin);
  color: white;
}
.logo {
  float: left;
  width: 200px;
  height: 75px;
  background: #555;
  border-radius: 20%;
  margin: 20px;
}

.loginButton {
  background-color: rgb(176, 236, 176);
  float: right;
  height: 50px;
  width: 150px;
  margin: 30px;
}
.homePageImg {
  max-width: 100%;
  height: 300px;
  margin-top: 10%;
  margin-right: 20%;
  margin-left: 10%;
  margin-bottom: 2%;
  border-radius: 10%;
}
.land-p-one {
  float: left;
  width: 45%;
  margin-left: 20px;
  font-size: 20px;
  margin-bottom: 5%;
}
.land-p-two {
  float: right;
  width: 45%;
  margin-right: 20px;
  font-size: 20px;
  margin-bottom: 5%;
}
.signUp {
  background-color: rgb(49, 141, 202);
  float: right;
  height: 50px;
  width: 150px;
  margin: 50px;
  color: black;
  margin-right: 100px;
}
.interpreter {
  background-color: rgb(66, 159, 221);
  float: left;
  height: 50px;
  width: 250px;
  margin-left: -500px;
  margin-top: 50px;
  color: black;
}
