.mainImage img {
  width: 100%;
}
.myHeader {
  margin-bottom: 90px !important;
}

.mainImage {
  max-width: 100%;
  margin: auto;
  margin-top: -14px;
}

.mainImage::after {
  display: block;
  position: relative;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0,
    #fff 100%
  );
  margin-top: -150px;
  height: 150px;
  width: 100%;
  content: "";
}

.myIcon {
  float: right;
}
.loginPage {
  text-align: center;
  margin-top: 20px;
}
